@import "tailwindcss";
@import "@nuxt/ui";

body {
  font-family: 'Nunito', sans-serif;
}

:root {
  --color-primary: #68ddcf;
  --color-secondary: #3c5656;
  --color-light: #E8F6F5;
  --color-lightgray: #E3E8E8;
}

@theme static {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-lightgray: var(--color-lightgrey);
}

.btn-light{
  background-color: var(--color-light);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-transform: uppercase;
  &:hover {
    background-color: var(--color-primary);
  }
}

.btn-borderless{
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  text-transform: uppercase;
  &:hover {
    background-color: var(--color-primary);
  }
}